html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    font-size: 50px;
    background-color: tomato;
    text-align: center;
}

.content {
    font-style: italic;
    text-align: left;
    font-size: 20px;
    color: #fff;
}

.description {
    font-size: 20px;
    text-align: right;
    weight: 100%;
    color: #fff;
}

.credentials {
    text-align: center;
    color: #fff;
}